.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  margin-bottom: 1em;
}

.input-label {
  width: 200px;
  text-align: left;
}

.input-field {
  width: 100px;
  margin-left: 10px;
}

.form-chart-container {
    display: flex;
    justify-content: space-between;
}

.chart-container {
    width: 100%; /* adjust as needed */
    height: 10%; /* adjust as needed */
    margin-bottom: 20px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column; /* Change to row if you want the charts side by side */
  height: 10%; /* Set a specific height */
  width: 50%;
}